{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}


        <div class="jumbotron">
            <h4 style="font-weight:bold;">Nom : {{ article.nom }} </h4>
            <h5>Description : {{ article.description }}</h5>
            <h5 style="color: red;">Prix : {{ article.prix }}</h5>
            <h5>Stock : {{ article.stockRestant }}</h5>
            <h5>Date : {{ article.createdAt|date('d/m/Y') }}</h5>
            {#<a href="{{ path ('article_commentaire_display',{'id':art.id}) }}">Détail{{ art.id }}</a>#}
            {#<a href="{{ path ('article_delete',{'id':art.id}) }}">Supprimer l'article {{ art.id }}</a>#}
        </div>



{% endblock %}


